<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.spring.demo.mapper.FilterMapper" >
    <resultMap id="BaseResultMap" type="com.example.spring.demo.entity.Filter" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="sensitive_word" property="sensitiveWord" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
     id,sensitiveWord
  </sql>
    <!--  查询列表 -->
    <select id="list" resultType="com.example.spring.demo.entity.Filter">
		select sensitive_word as sensitiveWord from filter
	</select>

</mapper>